*
{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: sans-serif;
font-size: 14px;
}

body
{
width: 100%;
min-height: 100vh;
background-color: rgb(249, 249, 249);
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}

.instagramprincipal
{
display: flex;
align-items: center;
justify-content: start;
width: 60%;
height: 100vh;
}

.celular img
{
height: 50rem;
}

.fotoperfil
{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
overflow: hidden;
border: 1px solid lightgray;
}
.fotoperfil img
{
height: 10rem;
}

.celular
{
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}

.logoo
{
width: 6rem;
}

.grupo:nth-child(1)
{
min-height: 19rem;
}

.instagram2
{
display:flex;
align-items: center;
justify-content:space-around;
flex-direction: column;
width: 60%;
min-height: 34rem;
}

.grupo
{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
background-color: #ffffff;
margin: 5px;
width: 100%;
padding: 1.3rem 0;
border: 1px solid lightgray;
}

.instagram-login
{
margin-top: 1rem;
background-color: #0095f6;
color: white;
padding: 8px;
border-radius: 4px;
}

.instagram-logout
{
color: #0095f6;
margin-top: 1rem;
}

.notaccount
{
color: rgb(160, 160, 160);
}

.link-blue
{
color: #0095f6;
}

.get-the-app
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
padding: 1.3rem 0;
}

.download
{
display: flex;
width: 100%;
justify-content: space-evenly;
align-items: center;
padding: 1rem;
}

.app-download
{
height: 3rem;
width: 10rem;
background-size: cover;
}

.app-download:nth-child(1)
{
background-image: url('img/store2.png');
}

.app-download:nth-child(2)
{
background-image: url('img/store1.png');
}


@media (max-width: 1024px)
{
.instagramprincipal
{
width: 90%;
}
.teladocel
{
width: 22%;
}
}

@media (max-width:650px)
{
body
{
background-color: white;
}

.instagramprincipal
{
width: 90%;
}
.celular
{
display: none;
}

.instagram2
{
width: 100%;
}
.grupo
{
border: 1px solid transparent;
}
}
